body{
    background-color: gray;

}

.dice img{
    width: 10%;
    height: 10%;
}
.dice{
    height: 10em;
    width: 30%;
    /* display: flex; */
    /* display: none; */
}
.main{
    text-align: center;
}
.namei{
    width: 20%;
}