body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: gray;
  
    
}
.back{
    /* opacity: 0.5; */
    /* background-color: black; */
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./images/back3.jpg);

}

.dice img{
    width: 100px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.dice{
    gap: 2em;
    height: auto;
    width: 30%;
    display: flex;
    display: none;
}
#strt{
    margin-top: 50px;
}

input{
    border: none;
    padding: 5px;
    margin-top: 5px;
    height: 2em;
    width: 10rem;
    border-radius: 5px;
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}
.namei{
    
    width: 50%;
}
.btns{
    margin-top: 2.5m;
}

button{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    border: none;
    padding: 1em 2em;
    border-radius: 5px;
    background-color: aqua;
}

table{
    font-size: 25px;
    border: 1px;
    padding: 10px;
    border-collapse: collapse;
}
#marks{
    display: none;
    left: 0;
}
